/*
Colors used

Text Color (Dark red brown): #683B2B;
background (off white): #FAF6F2;
2nd background (tan): #DED1BD;
Secondary Color (pink): #D49E8D;
Accent (ever green): #38786d;
 */

 :root{
  --primary-color:#FAF6F2;
  --secondary-color: #D49E8D;
  --text-color:#683B2B;
  --Accent-color:#38786d;
  --primary-f-weight: 100;
  --white-background: #FFFFFF;
  --color-change:#edc655;
  --color-change2:#fcffad;
  --color-change3:#f76414;
 }

* {
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
  padding: 30px;
}

body {
  font-family: 'Charis+SIL:ital@1&family', sans-serif;
  font-weight: var(--primary-f-weight);
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.5;
  padding-left: 10px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  color: var(--text-color);
}

h2 {
  font-size: 20px;
  font-weight: var(--primary-f-weight);
  color: var(--text-color);
}

h3 {
  font-size: 18px;
  font-weight: var(--primary-f-weight);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--text-color);
}

a:active {
  /* selected link */
  color: var(--Accent-color);
}

button, .button{
	border: none;
  display: inline-block;
	font-family: inherit;
	background-color: var(--secondary-color);
  text-decoration: none;
	color: var(--primary-color) ;
	padding: 10px;
  border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: .2s opacity;
}

button:hover, .button:focus, .button:hover, button:focus {
	cursor: pointer;
	opacity: 0.8;
}


input{
	border-color:var(--text-color) ;
	border-width: 1px;
	background-color:var(--white-background) ;
	border-radius: 3px;
}

textarea{
	border-color: var(--text-color);
	border-width: 1px;
	background-color: var(--white-background);
	border-radius: 3px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.portfolio__photo{
	float: left;
	width:  50%;
	margin-right:  40px;
	border-radius: 50%;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 5px 0;
  margin:  5px;
  border-bottom: 1px solid;
  border-color: var(--text-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.logo{
	width:  20%;
	margin-right:  10px;
}

.grid__item {
	background: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid2 {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
}

.about{
  text-align: center;
}

.about_item{
  margin: 0 auto;
}

.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  padding-top: 100px;
}

.page-footer a{
  text-decoration: none;
}


@keyframes color-change {
  0% {
    fill: var(--color-change);
  }
  50% {
    fill: var(--color-change2);
  }
  100% {
    fill: var(--color-change3);
  }
}

.sun {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 15s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

table, th, td{
  border: 1px solid;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.work{
  text-align: center;
}

.address {
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 500px) {
  .grid2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .page-footer {
    position: fixed;
  }
}